[Desktop Entry]
X-Nemo-Application-Type=silica-qt5
Type=Application
Icon=harbour-fiatmargo
Name=fiat margo
Comment=Prepare a photo for an ambience
Exec=harbour-fiatmargo

[X-Sailjail]
Permissions=Pictures;MediaIndexing
OrganizationName=se.munkstolen
ApplicationName=harbour-fiatmargo
